<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="../phpThumb_generated_thumbnailico.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Administrar Parametros</title>


    <link rel="stylesheet" href="assets1/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets1/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets1/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets1/css/Data-Table-1.css">
    <link rel="stylesheet" href="assets1/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets1/css/styles.css">
    <link rel="stylesheet" href="assets1/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets1/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets1/fonts/font-awesome.min.css">





</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#737b82;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="./../Nerio/dashboard.html"><i
                        class="material-icons">restaurant</i>&nbsp;RestBar</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">

                    </ul>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #fff9f9;">Administrar&nbsp;</a>
                        <div class="dropdown-menu bg-info" role="menu"><a class="dropdown-item" role="presentation" href="./../Carlos/administrar_categorias.html">Categorias</a><a class="dropdown-item" role="presentation" href="./../William/administrarproductos.html">Productos</a>
                            <a class="dropdown-item" role="presentation" href="./../Carlos/administracion_parametros.html">Parametros</a>
                            <a class="dropdown-item" role="presentation" data-toggle="modal" data-target="#modal1">Estadisticas</a><a class="dropdown-item" role="presentation" href="./../William/administrarmesas.html">Mesas</a>
                            <a class="dropdown-item" role="presentation" href="./../William/administrarusuarios.html">Usuarios Y roles</a>
                            <a class="dropdown-item" role="presentation" href="./../Carlos/index.html">Bitacora</a>
                            <a class="dropdown-item" role="presentation" href="./../Carlos/administrar_compras.html">Compras</a><a class="dropdown-item" role="presentation" href="#">Cerrar Sesion</a></div>
                    </li>
                </div>
            </div>
        </nav>
    </div>
    <div class="container" id="AdminParametros">

        <div>
            <div>
                <div class="container mt-4 table-responsive">
                    <div class="card border-info table-responsive">
                        <div class="card-header bg-info text-black table-responsive">
                            Administrar Parametros
                        </div>

                        <div class="card-body table-responsive ">
                            <div class="row">
                                <div class="col"><label>Buscar: &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</label><input type="text" v-model="textoBusqueda">
                                    <div class="alert alert-success collapse" role="alert" id="miAlerta">
                                        <span><strong>{{ alerta.titulo }} :</strong>&nbsp;{{ alerta.mensaje }}.</span><i class="fa fa-close close" v-on:click="cerrarAlerta();"></i></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><a href="#" v-on:click.prevent="orderBy('ID')">Id Parametro&nbsp;<i
                                                        class="fa fa-long-arrow-up"
                                                        v-show="orderByCampo=='ID' &amp;&amp; orderByAsc==1"></i><i
                                                        class="fa fa-long-arrow-down"
                                                        v-show="orderByCampo=='ID' &amp;&amp; orderByAsc==-1"></i></a>
                                            </th>
                                            <th><a href="#" v-on:click.prevent="orderBy('NOMBRE')">Nombre Parametro<i
                                                        class="fa fa-long-arrow-up"
                                                        v-show="orderByCampo=='NOMBRE' &amp;&amp; orderByAsc==1"></i><i
                                                        class="fa fa-long-arrow-down"
                                                        v-show="orderByCampo=='NOMBRE' &amp;&amp; orderByAsc==-1"></i></a>
                                            </th>
                                            <th>Valor Parametro</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="list-group-item-action" v-for="(parametro, index) in parametros" v-show="buscar(index)" v-on:click="parametroSelected=index;" v-bind:class="{ 'font-weight-bold' : parametroSelected==index }">
                                            <td><i></i>{{ parametro.id }}</td>
                                            <td>{{ parametro.nombre }}</td>
                                            <td>{{parametro.valor}}</td>
                                            <td>&nbsp;<a href="#"><i class="fa fa-edit"
                                                        v-on:click="mostrarModificar"></i>&nbsp;</a>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Estadistica</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="container mt-4">
                        <div class="card border-info">
                            <div class="card-header bg-info text-black"> Seleccione Tipo De Estadistica</div>
                            <br>
                            <a class="btn btn-outline-success" href="./../Carlos/estadistica_venta_diaria.html">Venta
                                Diaria</a>
                            <br>
                            <a class="btn btn-outline-success" href="./../Karen/VentaSemanal.html">Venta
                                Semanal</a>
                            <br>
                            <a class="btn btn-outline-success" href="./../Karen/ventasMensuales.html">Venta
                                Mensual</a>
                            <br>
                            <br>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bg-dark" role="dialog" tabindex="-1" id="modalModificar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modificar Parametro</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Nombre:</span></div><input class="form-control" type="text" v-model="parametros[parametroSelected].nombre">
                            <div class="input-group-append"></div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Valor:</span></div><input class="form-control" type="text" v-model="parametros[parametroSelected].valor">
                            <div class="input-group-append"></div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancelar</button><button class="btn btn-primary" type="button" data-dismiss="modal" v-on:click="modificarParametro();">Modificar</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets1/js/jquery.min.js"></script>
    <script src="assets1/bootstrap/js/bootstrap.min.js"></script>
    <script src="./../vue/vue.js"></script>
    <script src="./../axios/axios.min.js"></script>
    <script src="./../archivos_vue/administrar_parametros.js"></script>
</body>

</html>