<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ResBar</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container" id="vueReporte">

            <div>
                    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#737b82;color:#ffffff;">
                        <div class="container-fluid"><a class="navbar-brand" href="./../Nerio/dashboard.html"><i
                                    class="material-icons">restaurant</i>&nbsp;RestBar</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                                    class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="navcol-1">
                                <ul class="nav navbar-nav ml-auto">
            
                                </ul>
                                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #fff9f9;">Administrar&nbsp;</a>
                                    <div class="dropdown-menu bg-info" role="menu"><a class="dropdown-item" role="presentation" href="./../Carlos/administrar_categorias.html">Categorias</a><a class="dropdown-item" role="presentation" href="./../William/administrarproductos.html">Productos</a>
                                        <a class="dropdown-item" role="presentation" href="./../Carlos/administracion_parametros.html">Parametros</a>
                                        <a class="dropdown-item" role="presentation" data-toggle="modal" data-target="#modal1">Estadisticas</a><a class="dropdown-item" role="presentation" href="./../William/administrarmesas.html">Mesas</a>
                                        <a class="dropdown-item" role="presentation" href="./../William/administrarusuarios.html">Usuarios Y roles</a>
                                        <a class="dropdown-item" role="presentation" href="./../Carlos/index.html">Bitacora</a>
                                        <a class="dropdown-item" role="presentation" href="./../Carlos/administrar_compras.html">Compras</a><a class="dropdown-item" role="presentation" href="#">Cerrar Sesion</a></div>
                                </li>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="container">
                    <div class="row mt-2" id="cabecera">
                        <div class="col">
                            <h4 class="">Reporte Mensual de Compra</h4>
                        </div>
                       
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <form>
                                <!-- <div class="form-group row justify-content-center"><label class="col-form-label col-md-">Fecha:</label><input class="form-control input-estilo col-md-2" type="date"></div> -->
                                
                                            <div class="input-group">
                                                <label id="desde">Desde </label>
                                                <input id="fechauno" type="date" v-model="fecha1" />
                                                <label id="hasta">Hasta </labe>
                                                <input id="fechados" type="date" v-model="fecha2" />
                                                <br>
                                            </div>
                                            
                                           <br>
                                            <button class="btn btn-primary" v-on:click="cargarDatos();">
                                                <i class="fa fa-search"></i> Obtener Reporte
                                            </button>

                                            <!-- <label id="hasta">Hasta </label>
                                            <div class="input-group">
            
                                                <input id="fechados" type="date" v-model="fecha2"  />
            
                                                <br> -->
            <br>
                                            
                                <div class="form-group row"><label class="col-form-label col-md-2">Contribuyente:</label><input class="form-control input-estilo col-md-2" type="text"><label class="col-form-label col-md-1">NRC</label><input class="form-control input-estilo col-md-2" type="text">
                                    <label
                                        class="col-form-label col-md-1">Mes</label><input class="form-control input-estilo col-md-1" type="text"><label class="col-form-label col-md-1">Año</label><input class="form-control input-estilo col-md-1" type="text"></div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive table-bordered">
                                <table class="table table-striped table-bordered table-sm">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255, 255, 255);">No.</td>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255, 255, 255);">Fecha de emision</td>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Numero del documento</td>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255,255,255);">NRC</td>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255,255,255);">NIT ó DUI de sujeto excluido</td>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Nombre del proveedor</td>
                                            <td class="text-center" colspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Compras gravadas</td>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Anticipo a Cuenta IVA Percibido</td>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Total compras</td>
                                            <td rowspan="3" style="background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Compras a Sujetos Excluidos</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" style="width: 75px;background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Internas</td>
                                            <td rowspan="2" style="width: 75px;background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Importaciones e internacionales</td>
                                            <td rowspan="2" style="width: 75px;background-color: rgb(0, 149, 186);color: rgb(255,255,255);">Credito fiscal</td>
                                        </tr>
                                        <tr></tr>
                                        <tr v-for="com in compras">
                                            <td>{{com.id}}</td>
                                            <td>{{com.fecha}}</td>
                                            <td>{{com.Ndocumento}}</td>
                                            <td>{{com.NRC}}</td>
                                            <td>{{com.NITDUI}}</td>
                                            <td>{{com.nombreProveedor}}</td>
                                            <td>{{com.montoInterno}}</td>
                                            <td></td>
                                            <td>{{com.iva}}</td>
                                            <td>{{com.percepcion}}</td>
                                            <td>{{com.total}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                            <td>-</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Totales</td>
                                            <td>$500</td>
                                            <td></td>
                                            <td>$65</td>
                                            <td></td>
                                            <td>$565</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <input type="button" value="Click me" v-on:click="textoFecha(fecha)"> -->

    </div>
    
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="./../vue/vue.js"></script>
    <script src="./../axios/axios.min.js"></script>
    <script src="./../archivos_vue/reporteComprasMensuales.js"></script>
</body>

</html>